export('CleanBAMtoBG')
export('GenomeMappingToChainFile')
export('write_config')
export('runStereogene')
export('assessGrouping')
export('bindingContextDistance')
export('liftOverToExomicBG')
export('processCapRout')
export('runCapR')
export('runStereogeneOnCapR')
export('visualizeCapRStereogene')
export('write_fasta')
export('ExtractTranscriptomeSequence')

import('rtracklayer')
import('S4Vectors')
import('GenomeInfoDb')
import('ggplot2')
import('TxDb.Hsapiens.UCSC.hg19.knownGene')
import('TxDb.Hsapiens.UCSC.hg38.knownGene')
importFrom('gplots', 'heatmap.2', 'redblue')
importFrom('magrittr', '%>%')
importFrom('plyranges', 'filter', 'bind_ranges')
importFrom('R.utils', "doCall")
importFrom('matrixStats', 'rowSds')
importFrom('transport', 'wasserstein1d')
importFrom("methods", "as")
importFrom("stats", "ks.test")
importFrom("utils", "read.delim", "read.table", "write.table")
import('GenomicRanges')
import('TxDb.Hsapiens.UCSC.hg19.knownGene')
import('TxDb.Hsapiens.UCSC.hg38.knownGene')
importFrom('dplyr', 'select', 'filter', 'group_by', 'summarise')
importFrom('BiocGenerics', 'strand')
importFrom("grDevices", "dev.off", "jpeg", "pdf", "rgb")
importFrom("graphics", "abline", "arrows", "lines", "par", "plot")
importFrom("Rsamtools", "sortBam", "ScanBamParam", "filterBam", "indexBam", "idxstatsBam")
